*{
  --accent-color:#ED6A5E;
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/images/img1.jpg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-position: center calc(50% - 5vh);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 22s infinite ease-in-out;
    /* background-attachment:fixed; */
}

@keyframes change{
    0%
    {
        background-image: url(../../../public/images/img1.jpg);
    }
    25%
    {
        background-image: url(../../../public/images/img3.jpg);
    }
    50%
    {
        background-image: url(../../../public/images/img5.jpg);
    }
    75%
    {
        background-image: url(../../../public/images/img4.jpg);
    }
    100%
    {
        background-image: url(../../../public/images/img1.jpg);
    }
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #fff;
    font-size: 28px;
    letter-spacing: 15px;
    margin-left: 10px;
    text-shadow: 3px 3px 5px #7777779b;
}
.content h1 span{
    font-size: 60px;
    color: #222;
    
}
.get-started{
    margin-top: 10px;
    background: var(--accent-color);
    padding: 16px 60px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    /* font-weight: bold; */
    /* color: #222; */
    color: white;
    border: none;
    border-radius: 60px;
    
}
.content button:hover{
    color: #fff;
}