.book-history-container {
  background-color: white;
  width: 59%;
  padding: 40px 0px 40px 0px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 12%;
}

.book-history-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.book-history-header{
    margin-bottom: 10px;
    font-size: 0.6rem;
    font-weight: 700;
    color: #333;
    display: flex;
    text-transform: uppercase;
}

.b-h-frmt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-image: linear-gradient(to right, #ccc 0%,  #ddd 100%);
}

.b-h-date{
    width: 14%;
}
.b-h-event{
    width: 29%;
}
.b-h-venue{
    width: 29%;
}
.b-h-total{
    width: 14%;
}
.b-h-status{
    width: 14%;
}

.book-history-row{
    margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    display: flex;
    border-radius: 7px;
    /* border: 3px solid #ff8c7f; */
}

.b-r-frmt{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 13px;
    background-image: linear-gradient(to right, #cb483c 0%,  #ed6a5e 100%);
}

.brdr-left{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.brdr-right{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}